// variable
:root {
    --font-body: 'Outfit', sans-serif;
    --font-heading: 'Marcellus', serif;

    --color-primary: #C4EF17;

    --color-heading: #131217;
    --xb-track-color: #16171B;
    --color-dark: #0F172A;
    --color-white: #fff;
    --color-black: #000;
    --color-default: #A8A8A8;
    --color-gray: #F8F8F8;
    --color-border: #EFF5F8;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}